.dashbar_container {
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100%;
  z-index: 999;
  background-color: var(--primary-light);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.logo {
  height: 100px;
  width: auto;
}

.filter_img {
  height: 36px;
  width: 36px;
}

.filter_button {
  background-color: transparent;
  border-color: transparent;
  border-radius: 15px;
}

.filter_button:focus {
  outline: none;
}
