.section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 60px repeat(4, 1fr) 60px;
  background-color: var(--primary-light);
}
.motion_container{
  height: 100%;
  width: 100%;
}

.restaurantData {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.formContainer {  
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.offersType {
  margin-top: 2%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  gap: 4em;
  width: 100%;
}
.starter_consumable_type {
  margin-top: 15rem;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.dates {
  margin:5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: center; 
  
  border: 1px solid #44A671;
  box-shadow: 0 0 3px 3px #44A671;
  border-color: #44A671;
  border-radius: 5px;
}
.calendar {
  font-size: 8px !important;
}

.input {
  width: 90%;
  height: 60px;
  padding: 1em;
}

.hidden_button{
  opacity: 0;
  width: 0;
  height: 0;
}
 .hidden_button ~ .icon {
  cursor: pointer;
}

.icon {
  height: 100px;
  width: auto;
}
.hidden_button:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #fff;
  border-radius: 100%;
}
