@import 'theme.css';

html,
body {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(var(--primary) 1px, transparent 1px),
    radial-gradient(var(--primary) 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  padding: 0;
  margin: 0;
  font-family: 'roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  margin-block-start: unset;
  margin-block-end: unset;
}

h2 {
  text-transform: uppercase;
}
