.float_container {
  margin-top: -300px;
  width: 100%;
  height: auto;
  min-height: 200px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(var(--total), 100%) 1px;
  grid-template-rows: 200px;
  overflow: auto;
  scroll-padding: 1em;
  scroll-snap-type: x mandatory;
}

.container {
  width: 90%;
  background: white;
  height: 180px;
  z-index: 10;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.container:focus {
  outline: none;
}

.empty {
  height: 100%;
  width: 100%;
}

.restaurant_data {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  width: 100%;
  background-color: black;
}

.restaurant_offers {
  height: 100%;
  width: 100%;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.blue {
  background-color: blue;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.red {
  background-color: red;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.yellow {
  background-color: yellow;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.WatchedElement {
  z-index: 100;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.WatchedElement:focus {
  outline: none;
}
