.add_container {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  position:absolute;
  width: 93%;
  height: 12rem;
  z-index: 800; 
 
}

.add_button {
  display :flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  height: 48px;
  width: 48px;
  color: var(--white);
  background-color: var(--secondary);
  border-radius: 100%;
  border: none;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);

}
.p{
  width: 100%;
  height: 100%;
}