.filter_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.hidde_button{
  opacity: 0;
  width: 0;
  height: 0;
}

.hidden_button:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #fff;
  border-radius: 100%;
}