.item_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 100%;
  background-color:var(--white) ;
  border-radius: 10px;
  margin:5px
}

.item_text {
  height: 90%;
  width: 90%;
}